<!DOCTYPE html>
<html>
<head>
  <title>Netflix Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <!-- NAVBAR -->
  <div class="navbar">
    <h1>NETFLIX</h1>
  </div>

  <!-- HERO -->
  <div class="hero">
    <h2>Unlimited movies, TV shows and more</h2>
    <p>Watch anywhere. Cancel anytime.</p>
    <button>Watch Now</button>
  </div>

  <!-- ROW 1 -->
  <div class="row">
    <h3>Trending Now</h3>
    <div class="movies">
      <img src="https://image.tmdb.org/t/p/w300/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg">
      <img src="https://image.tmdb.org/t/p/w300/6DrHO1jr3qVrViUO6s6kFiAGM7.jpg">
      <img src="https://image.tmdb.org/t/p/w300/9Gtg2DzBhmYamXBS1hKAhiwbBKS.jpg">
      <img src="https://image.tmdb.org/t/p/w300/1E5baAaEse26fej7uHcjOgEE2t2.jpg">
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <h3>Top Picks for You</h3>
    <div class="movies">
      <img src="https://image.tmdb.org/t/p/w300/qJ2tW6WMUDux911r6m7haRef0WH.jpg">
      <img src="https://image.tmdb.org/t/p/w300/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg">
      <img src="https://image.tmdb.org/t/p/w300/3bhkrj58Vtu7enYsRolD1fZdja1.jpg">
      <img src="https://image.tmdb.org/t/p/w300/bOGkgRGdhrBYJSLpXaxhXVstddV.jpg">
    </div>
  </div>

</body>
</html>

